apiVersion: v1
kind: ReplicationController
metadata:
  name: {{ default "default-http-backend" .Values.defaultBackendName }}
  heritage: {{.Release.Service | quote }}
  release: {{.Release.Name | quote }}
  chart: "{{.Chart.Name}}-{{.Chart.Version}}"
  provider: "devopskube"
spec:
  replicas: 1
  selector:
    app: {{ default "default-http-backend" .Values.defaultBackendName }}
  template:
    metadata:
      labels:
        app: {{ default "default-http-backend" .Values.defaultBackendName }}
        heritage: {{.Release.Service | quote }}
        release: {{.Release.Name | quote }}
        chart: "{{.Chart.Name}}-{{.Chart.Version}}"
        provider: "devopskube"
    spec:
      terminationGracePeriodSeconds: 60
      containers:
      - name: {{ default "default-http-backend" .Values.defaultBackendName }}
        # Any image is permissable as long as:
        # 1. It serves a 404 page at /
        # 2. It serves 200 on a /healthz endpoint
        image: gcr.io/google_containers/defaultbackend:1.0
        livenessProbe:
          httpGet:
            path: /healthz
            port: http
            scheme: HTTP
          initialDelaySeconds: 30
          timeoutSeconds: 5
        ports:
        - name: http
          containerPort: {{ default "8080" .Values.defaultBackend.containerPort }}
        resources:
          limits:
            cpu: 10m
            memory: 20Mi
          requests:
            cpu: 10m
            memory: 20Mi
