apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}
  labels:
    app: {{ template "fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  template:
    metadata:
      labels:
        app: {{ template "fullname" . }}
        chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
    spec:
      containers:
      - name: {{ template "fullname" . }}
        image: "triplem74/mysql:{{ default "latest" .Values.imageTag }}"
        imagePullPolicy: {{ default "" .Values.imagePullPolicy | quote }}
        env:
        - name: DB_USER
          value: {{ default "" .Values.databaseUser | quote }}
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: {{ template "fullname" . }}
              key: database-password
        - name: DB_NAME
          value: {{ default "" .Values.databaseName | quote }}
        - name: MYSQL_CHARSET
          value: {{ default "utf8" .Values.databaseCharset | quote }}
        - name: MYSQL_COLLATION
          value: {{ default "utf8_unicode_ci" .Values.databaseCollation | quote }}
        ports:
        - name: mysql
          containerPort: 3306
        livenessProbe:
          exec:
            command:
            - mysqladmin
            - ping
          initialDelaySeconds: 30
          timeoutSeconds: 5
        readinessProbe:
          exec:
            command:
            - mysqladmin
            - ping
          initialDelaySeconds: 5
          timeoutSeconds: 1
        volumeMounts:
        - name: mysql-data
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-data
        hostPath:
          path: /data/keycloak/mysql
